@font-face {
  font-family: averta standard;
  font-style: normal;
  font-weight: 400;
  src: local("Averta Standard"),
    url(https://fonts.cdnfonts.com/s/14876/AvertaStandard-Regular.woff)
      format("woff");
}

* {
  font-family: "Averta Standard", sans-serif;
}

button {
  all: unset;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  &__text {
    font-size: 50px;
    margin-bottom: 100px;
  }
  img {
    width: 100%;
    max-width: 1040px;
  }
}

.mainApp {
  width: 100%;
  position: relative;

  button {
    padding: 10px;
    width: 60px;
    text-align: center;
  }
  &--log {
    border-radius: 0 0 10px 0;
    background-color: #d9d9d9;
  }
  &__clock {
    border: 1px solid black;
    border-radius: 10px;
    width: 280px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
    padding: 20px;
    &--currentDate {
      font-size: 25px;
      margin: 0;
    }
    &--currentTime {
      font-size: 50px;
      margin: 0;
    }
  }
}

.todoItem {
  border-collapse: separate;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px !important;
  width: 100%;
  max-width: 1000px;
  height: 200px;
  border-spacing: 0;
  background-color: white;
  position: relative;
  filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.1));

  td {
    text-align: center;
  }
  &__head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  &__titleTD {
    width: 200px;
  }
  &__title {
    height: 40px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
  }
  &__description {
    font-size: 24px;
  }
  &__expireTD {
    width: 160px;
  }
  &__expireDate {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
  }
  &__category {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 45px;
    border-radius: 5px 0 10px 0px;
    filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.08));
  }
  &__category:hover {
    z-index: 100;
  }
  &__progress {
    position: absolute;
    top: 0;
    right: -73px;
  }
}
